html, body {
  width: 100%;
  height:100%;
}

body {
    background: linear-gradient(-45deg, #eed752, #473ce7, #d53e23, #23d5ae);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.form
{
  padding-top: 150px;
}

.button {
  background-color: hsla(212, 100%, 50%, 0.827);
  border: none;
  width: 45%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}